<p id="notice"><%= notice %></p>

<span class="label label-primary">List</span>

<table  class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>View title</th>
      <th>who has</th>
      <th>which has</th>
      <th>Privacy setting</th>
      <th>Permission key</th>
      <th>dyscogenerator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qviews.each do |qview| %>
      <tr>
        <td><%= qview.qvtitle %></td>
        <td><%= qview.qvprivacy %></td>
        <td><%= qview.qdpermkey %></td>
        <td><%= qview.dyscogenerator %></td>
        <td><%= link_to 'Show', qview %></td>
        <td><%= link_to 'Edit', edit_qview_path(qview) %></td>
        <td><%= link_to 'Destroy', qview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qview', new_qview_path %>
