<%= form_for(@qorganization) do |f| %>
  <% if @qorganization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qorganization.errors.count, "error") %> prohibited this qorganization from being saved:</h2>

      <ul>
      <% @qorganization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quser %><br>
    <%= f.text_field :quser %>
  </div>
  <div class="field">
    <%= f.label :qotitle %><br>
    <%= f.text_field :qotitle %>
  </div>
  <div class="field">
    <%= f.label :qoprivacy %><br>
    <%= f.check_box :qoprivacy %>
  </div>
  <div class="field">
    <%= f.label :qosubscriber %><br>
    <%= f.check_box :qosubscriber %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
