<p id="notice"><%= notice %></p>

<span class="label label-primary">List</span>

<table  class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Title</th>
      <th>who belongs</th>
      <th>Privacy stting</th>
      <th>Permission key</th>
      <th>Subscriber?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @qorganizations.each do |qorganization| %>
      <tr>
        <td><%= qorganization.qotitle %></td>
        <td><%= qorganization.qoprivacy %></td>
        <td><%= qorganization.qopermkey %></td>
        <td><%= qorganization.qosubscriber %></td>
        <td><%= link_to 'Show', qorganization %></td>
        <td><%= link_to 'Edit', edit_qorganization_path(qorganization) %></td>
        <td><%= link_to 'Destroy', qorganization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qorganization', new_qorganization_path %>
